#quote-box {
  text-align: center;
  background-color: white;
  width: 500px;
  min-height: 300px;
  border-radius: 3px;
  padding: 40px 50px;
}

#text-div{
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

#author{
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#sign{
  margin-top: 10px;
  text-align: center;
  color: white;
}

.button{
  border: none;
  border-radius: 3px;
  background-color: aqua;
  color: white;
  padding: 10px;
  min-width: 40px;
  outline: none;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}

.button:hover{
  opacity: 0.75;
}

#lower-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#new-quote{
  justify-self: flex-end;
}

#tweet-quote{
  margin-right: 10px;
}

#sign{
  font-size: 13px;
}

#quote-icon{
  vertical-align: center;
}

.fade-in {
  opacity: 0;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.color-transition{
  transition: all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

a{
  text-decoration: none;
  color: #ffffff;
}